{% extends 'base.html' %}

{% block content %}

<div class="col-md-9">

    <section>
        <div class="container">
<hr>

            <div class="col-sm-12 child-div">

                <div class="row row-cols-12 row-cols-md-4">
                    {% for n in news %}
                    <a href="{% url 'lifestyle:single_news' n.slug %}">
                        <div class="col mb-12">
                            <div class="card">
                                <img src="{{n.thumbnail.url}}" class="card-img-top" alt="..." width="200px" height="200px">
                                <div class="card-body">
                                    <h5 class="card-title">{{n.headline|truncatechars:35}}</h5>
                                </div>
                            </div>
                        </div>
                    </a>

                    {% endfor %}

                </div>
            </div>







        </div>
    </section>

<hr>
</div>


<br><br><br>
<br><br><br>
<hr>
{% endblock %}