{% load static %}
<!-- Contact -->
<section id="footer-stack">
    <div class="content-box-md">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="contact-left">
                        <div class="vertical-heading">
                            <h2><strong> शुभप्रभात खबर</strong></h2>
                        </div>
                        <div id="offices">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="office">
                                        <ul class="office-details">
                                            <!--<li><img src="{% static 'images/tarun.jpg' %}" width="100px" height="80px"></li>-->
                                            <li><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <span>प्रधान सम्पादक : तरुण भारती </span></li>
                                            <li><i class="fa fa-mobile"></i> <span>+(977) 9852660180</span></li>
                                            <li><i class="fa fa-envelope"></i><span> news@shuvapravatkhabar.com</span>
                                            </li>

                                            <li><i class="fa fa-map-marker"></i><span> Phungling Bazzar, <br>
                                                        Taplejung, Nepal</span></li>

                                        </ul>
                                    </div>

                                </div>
                                 <div class="col-md-6">
                                  

                                </div>
                                <ul class="social-list">
                                    <li><a href="https://www.facebook.com/shuvapravatkhabar/"><i
                                            class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/shuvapravat"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://www.youtube.com/channel/UCN0Esg_c7w-jVXIbe7SXwRQ"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-2">
                    <div id="contact-left">
                        <div class="vertical-heading">
                            <a href="{% url 'entertainment:all' %}"><h3>मनोरञ्जन </h3></a>
                        </div>
                        <div id="offices">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="office">
                                        <a href="{% url 'entertainment:all' %}">
                                        <ul class="office-details">
                                            <a href="{% url 'newsportalapp:all'%}" ><li><span>ताजा समाचार</span></li></a>
                                            <br>
                                            <li><span>गसिप</span></li>
                                            <br>
                                            <li><span>बलिउड / हलिउड</span></li>
                                            <br>
                                            <a href="https://www.youtube.com/channel/UCN0Esg_c7w-jVXIbe7SXwRQ"><li><span>भिडियो</span></li></a>
                                            <br>
                                            <a href="{% url 'team'%}" ><li><span>सम्पादक </span></li></a>

                                        </ul>
                                            </a>
                                    </div>

                                </div>

                            </div>
                        </div>


                    </div>
                </div>

                <div class="col-md-2">
                    <div id="contact-left">
                        <div class="vertical-heading">
                            <a href="{% url 'news:all' %}"><h3>समाचार </h3></a>
                        </div>
                        <div id="offices">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="office">
                                       <a href="{% url 'news:all' %}">
                                        <ul class="office-details">
                                            <li><span>समाज</span></li>
                                            <br>
                                            <li><span>जीवनशैली/स्वास्थ</span></li>
                                            <br>
                                            <li><span>प्रवास</span></li>
                                            <br>
                                            <li><span>अन्तराष्ट्रिय</span></li>
                                            <br>
                                            <a href="{% url 'sports:all'%}" ><li><span>खेलकुद़़</span></li></a>
                                            <br>
                                        </ul>
                                       </a>
                                    </div>

                                </div>

                            </div>
                        </div>


                    </div>
                </div>

                <div class="col-md-2">
                    <div id="contact-left">
                        <div class="vertical-heading">
                            <a href="{% url 'business:all' %}"><h3>विजनेश </h3></a>
                        </div>
                        <div id="offices">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="office">
                            <a href="{% url 'business:all' %}">

                                        <ul class="office-details">
                                            <li><span>पर्यटन</span></li>
                                            <br>
                                            <li><span>अटो</span></li>
                                            <br>
                                            <li><span>बैँक / वित्त</span></li>
                                            <br>
                                            <a href="{% url 'tech:all'%}" > <li><span>सूचना-प्रविधि</span></li></a>
                                            <br>

                                        </ul>
                            </a>
                                    </div>

                                </div>

                            </div>
                        </div>


                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
<!-- footer stack Ends-->
