{% extends 'base.html' %}

<meta property="og:url"                content="http://shuvapravatkhabar.com/business/{{news.slug}}"/>
{% block content %}
{% include 'singlead/singletop.html' %}

<section id="single">
    <div class="container-fluid single">
           <di class="row">
            <div class="col-md-9">
        <h1 >{{news.headline}}</h1>
        <div class="row">
            {% if news.reporter %}
            <div class="col-md-3">
                <p><i class="fa fa-pencil" aria-hidden="true"></i><span >{{news.reporter}}</span></p></div>
            {% endif %}
            {% if news.published_at %}
            <div class="col-md-3">
                <i class="fa fa-calendar"></i><span>{{news.published_at}}</span>
            </div>
            {% endif %}
            {% if news.event_place %}
        <div class="col-md-3">
                <i class="fa fa-map-marker" aria-hidden="true"></i><span>{{news.event_place}}</span>
            </div>
            {% endif %}
        </div>

        <img src="{{ news.thumbnail.url }}" width="100%" height="600px" class="img-responsive">
        <div class="jumbotron">
                <p>    {{news.description|safe|linebreaksbr}}</p>

        {%if news.picture1 %}
            <img src="{{ news.picture1.url }}" width="100%" height="300px" class="img-responsive">
            <br>
            <br>
        {% endif %}
        {%if news.picture2 %}
            <img src="{{ news.picture2.url }}" width="100%" height="300px" class="img-responsive">
        <br><br>
            {% endif %}
        {%if news.picture3 %}
            <img src="{{ news.picture3.url }}" width="100%" height="300px" class="img-responsive">
        {% endif %}

        </div>
    </div>
               <div class="col-md-3">
            {% include 'singlead/singleright.html' %}
        </div>
    </div>
    {% include 'singlead/singlebottom.html' %}

</section>

            <div class="row">
                {% for t in all_news %}
                <div class="col-sm-3">
                    <div class="card-deck">
                        <div class="card">
                            {% if t.thumbnail %}
                            <a href="{% url 'business:single_news' t.slug %}">
                                <img src="{{t.thumbnail.url}}" class="card-img-top" alt="...">
                            </a>
                            {% endif %}
                            <div class="card-body">
                                                         <a href="{% url 'business:single_news' t.slug %}">

                                <h5 class="card-title">{{t.headline}}</h5>
                                                         </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

{% endblock %}